@{
    ViewBag.Title = "[YOUR CONTACT PAGE]";
}@Page
<div style="padding:50px 5px 10px 5px; border-style:solid; border-width:1px; ">
    <p>@ViewBag.Title.</p>
    <p>@ViewBag.Message</p>
</div>

<address>
    <strong>Email (1):</strong> <a style="color:#cccccc" href="mailto:alejandro.perez.acosta@hotmail.com">alejandro.perez.acosta@hotmail.com</a>
    <br />
    <strong>Email (2):</strong> <a style="color:#cccccc" href="mailto:alejandro.perez.acosta@gmail.com">alejandro.perez.acosta@gmail.com</a>
</address>

<address>
    [BUZON]
    <br />
    [REDES_SOCIALES]
</address>