@{
    ViewBag.Title = @"[SKILL 4.3 - LINQ]";
}

<div class="main-container">
    <div class="content">
        <div class="content-body">
            <h2>@ViewBag.Title</h2>
            <h3>@ViewBag.Message</h3>
        </div>
    </div>
</div>