@{
    ViewBag.Title = @"[SKILL 4.2 - CONSUME DATA]";
}

<div class="main-container">
    <div class="content">
        <div class="content-body">
            <h2>@ViewBag.Title</h2>
            <h3></h3>
        </div>
    </div>
    <div>
        <h3>@ViewBag.Message</h3>
        <img src="@ViewBag.Url" width="100px" height="100px"/>
    </div>
</div>