@{
    ViewBag.Title   = @"[C# Spec]";
    ViewBag.Message = @"[Versiones]";
}@Page

<div class="main-container">
    <div class="content">
        <div class="content-body">
            <p>@ViewBag.Title</p>
            <p>@ViewBag.Message</p>
        </div>
    </div>
    <div>
        <ul>
            <li>[5.0]</li>
            <li>[6.0]</li>
            <li>[7.0]</li>
            <li>[8.0]</li>
            <li>[9.0]</li>
        </ul>
    </div>
</div>