body 
{
    margin : 1px;
    height : 100%;
    width  : 100%;
}

table {
    font-family      : "Times New Roman", Times, serif;
    font-style       : italic;
    border           : 1px solid black;
    background-color : #cccccc;
}

